[submodule "src/github.com/masters-of-cats/laika"]
	path = src/github.com/masters-of-cats/laika
	url = https://github.com/masters-of-cats/laika
[submodule "src/code.cloudfoundry.org/badapps"]
	path = src/code.cloudfoundry.org/badapps
	url = https://github.com/cloudfoundry/badapps.git
[submodule "src/github.com/masters-of-cats/metatron"]
	path = src/github.com/masters-of-cats/metatron
	url = http://github.com/masters-of-cats/metatron.git
